.main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-0) var(--spacing-1);
}

@media (max-width: 800px) {  
    .main section {
        padding: var(--spacing-0) var(--spacing-2);
    }

    .main h1 {
        font-size: var(--fontSize-2);
        line-height: var(--lineHeight-2);
    }
}

.main section > div {
    margin-bottom: var(--spacing-0);
}

.main h2 {
    text-align: center;
    margin-top: var(--spacing-0);
    margin-bottom: var(--spacing-2); 
}

.main p {
    width: 100%;
    max-width: var(--contentWidth);
    margin-bottom: var(--spacing-1);
}

.btn {
    font-size: var(--fontSize-4);
    line-height: var(--lineHeight-4);
    font-weight: bold;
    background: #ff9800;
    box-shadow: 0 4px 14px 0 rgb(255 152 0 / 39%);
    color: var(--color-1);
    border: none;
    border-radius: var(--border-radius);
    padding: var(--spacing-3) var(--spacing-2);
    cursor: pointer;
}

.btn:hover { 
    background: rgba(255, 152, 0, 0.9);
}